*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none ;
    border: 0;
    list-style: none;
    appearance: none;
}
body{
    width: 100%;
    font-size: 0.88rem;
    user-select: none;
    /* overflow: hidden; */
    background-color: rgb(203 198 198 / 32%)
}
.container{
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}
a{
    color: black;
}
h1{
    font-size: 1.4rem;
    font-weight: 800;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8;
}
h5{
    font-size: 0.77rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
small{
    font-size: 0.75rem;
}
.text-muted{
    color: rgb(204, 201, 201);
}
p{
    color: rgb(153, 151, 151);
}
b{
    color: rgb(36, 36, 35);
}
.primary{
    color: rgb(136, 136, 253);
}
.success{
    color: aqua;
}
.name{
    color: pink;
}
.warning{
    color: rgb(222, 77, 152);
}
/* aside */
aside{
  height: 100vh;
}
.top{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}
.logo{
    display: flex;
    gap: 1rem;
}
.close{
   display: none;
}
/* sidebar */
.sidebar{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top:1rem;
}
.sidebar h3{
    font-weight: 500;
}
.sidebar a{
    display: flex;
    color: rgb(137 133 133);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in;
}
.sidebar a span{
    font-size: 1.6rem;
    transition: all .1s ease-in;
}
.sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}
.sidebar a.active{
    background-color: rgb(167 167 216 / 31%);
    color: rgb(91, 91, 164);
    margin-left: 0;
    border-left: 5px solid;
    border-color: rgb(151 151 220);
}
.sidebar a:hover{
    color: rgb(91, 91, 164);
}
.sidebar a:hover span{
    margin-left: 1rem;
}
/* start main section */
main{
    margin-top: 1rem;
    width: auto;
}
main input{
    background-color: transparent;
    border: 0;
    outline: 0;
    color: black;
}
.date{
    display: inline-block;
    background-color: white;
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
.insights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.3rem;
}
.insights>div{
    background-color: white;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}
